In [1]:
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: pandas in ./env/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.13.3 in ./env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)
Requirement already satisfied: matplotlib in ./env/lib/python3.6/site-packages
Requirement already satisfied: kiwisolver>=1.0.1 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.11 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.1 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./env/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib)
Requirement already satisfied: seaborn in ./env/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.13.3 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pandas>=0.22.0 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: matplotlib>=2.1.2 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: scipy>=1.0.1 in ./env/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.6/site-packages (from pandas>=0.22.0->seaborn)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas>=0.22.0->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: kiwisolver>=1.0.1 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.6/site-packages (from matplotlib>=2.1.2->seaborn)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn)

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
df_dados = pd.read_csv('insurance2.csv',sep=',')

In [7]:
df_dados

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [9]:
!pip install altair

Requirement already satisfied: altair in ./env/lib/python3.6/site-packages
Requirement already satisfied: pandas in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: toolz in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: jsonschema in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: jinja2 in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: entrypoints in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: numpy in ./env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: pyrsistent>=0.14.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: setuptools in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: six>=1.11.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: attrs>=17.4.0 in ./env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: MarkupSafe>=0.23 in ./env/lib/python3.6/site-packages (from jinja2->altair)
Requirement already satisfied: zipp>=0.5 in ./env/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema->altair)

In [10]:
df_dados

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [11]:
import altair as alt

In [20]:
df_dados

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [25]:
df_dados['Fumante'] = df_dados["smoker"].apply(lambda x: "Sim" if x == 1 else "NÃ£o")
df_dados.head()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante
0,19,0,27.900,0,1,3,16884.92400,1,Sim
1,18,1,33.770,1,0,2,1725.55230,1,NÃ£o
2,28,1,33.000,3,0,2,4449.46200,0,NÃ£o
3,33,1,22.705,0,0,1,21984.47061,0,NÃ£o
4,32,1,28.880,0,0,1,3866.85520,1,NÃ£o

In [27]:
df_dados["imc ideal"] = df_dados["bmi"].apply(lambda x: "Sim" if x >= 18.5 and x <= 25 else "NÃ£o")

In [29]:
df_dados

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante,imc ideal
0,19,0,27.900,0,1,3,16884.92400,1,Sim,NÃ£o
1,18,1,33.770,1,0,2,1725.55230,1,NÃ£o,NÃ£o
2,28,1,33.000,3,0,2,4449.46200,0,NÃ£o,NÃ£o
3,33,1,22.705,0,0,1,21984.47061,0,NÃ£o,Sim
4,32,1,28.880,0,0,1,3866.85520,1,NÃ£o,NÃ£o
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,1,10600.54830,0,NÃ£o,NÃ£o
1334,18,0,31.920,0,0,0,2205.98080,1,NÃ£o,NÃ£o
1335,18,0,36.850,0,0,2,1629.83350,1,NÃ£o,NÃ£o
1336,21,0,25.800,0,0,3,2007.94500,0,NÃ£o,NÃ£o
1337,61,0,29.070,0,1,1,29141.36030,1,Sim,NÃ£o

In [30]:
custo_fumantes = df_dados[['Fumante','charges']].groupby('Fumante', as_index=False).sum()
custo_fumantes

  Fumante       charges
0     NÃ£o  8.974061e+06
1     Sim  8.781764e+06

In [32]:
v

alt.Chart(...)

In [34]:
custo_imc = df_dados[['imc ideal','charges']].groupby('imc ideal', as_index=False).sum()
custo_imc

  imc ideal       charges
0       NÃ£o  1.539265e+07
1       Sim  2.363176e+06

In [35]:
alt.Chart(custo_imc, title="Custo IMC ideal").mark_bar().encode(
    x= alt.X('imc ideal', title='IMC ideal?'),
    y= alt.Y('charges', title='Custo'),
    color = alt.Color('imc ideal', legend=None)
).interactive()

alt.Chart(...)

In [38]:
df_dados["faixa etÃ¡ria"] = df_dados["age"].apply(lambda x: "atÃ© 30 anos" if x <= 30 else("De 31 anos a 40 anos" if x <= 40 else("De 41 anos a 50 anos" if x <= 50 else("De 51 anos a 60 anos" if x <= 60 else "Acima de 60 anos"))))

In [40]:
df_dados

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante,imc ideal,faixa etÃ¡ria
0,19,0,27.900,0,1,3,16884.92400,1,Sim,NÃ£o,atÃ© 30 anos
1,18,1,33.770,1,0,2,1725.55230,1,NÃ£o,NÃ£o,atÃ© 30 anos
2,28,1,33.000,3,0,2,4449.46200,0,NÃ£o,NÃ£o,atÃ© 30 anos
3,33,1,22.705,0,0,1,21984.47061,0,NÃ£o,Sim,De 31 anos a 40 anos
4,32,1,28.880,0,0,1,3866.85520,1,NÃ£o,NÃ£o,De 31 anos a 40 anos
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,1,10600.54830,0,NÃ£o,NÃ£o,De 41 anos a 50 anos
1334,18,0,31.920,0,0,0,2205.98080,1,NÃ£o,NÃ£o,atÃ© 30 anos
1335,18,0,36.850,0,0,2,1629.83350,1,NÃ£o,NÃ£o,atÃ© 30 anos
1336,21,0,25.800,0,0,3,2007.94500,0,NÃ£o,NÃ£o,atÃ© 30 anos
1337,61,0,29.070,0,1,1,29141.36030,1,Sim,NÃ£o,Acima de 60 anos

In [42]:
df_dados["RegiÃµes"] = df_dados["region"].apply(lambda x: "Noroeste" if x == 1 else(
                    "Nordeste" if x == 0 else(
                    "Sudeste" if x == 2 else(
                    "Sudoeste"))))

In [43]:
df_dados

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante,imc ideal,faixa etÃ¡ria,RegiÃµes
0,19,0,27.900,0,1,3,16884.92400,1,Sim,NÃ£o,atÃ© 30 anos,Sudoeste
1,18,1,33.770,1,0,2,1725.55230,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste
2,28,1,33.000,3,0,2,4449.46200,0,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste
3,33,1,22.705,0,0,1,21984.47061,0,NÃ£o,Sim,De 31 anos a 40 anos,Noroeste
4,32,1,28.880,0,0,1,3866.85520,1,NÃ£o,NÃ£o,De 31 anos a 40 anos,Noroeste
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,1,10600.54830,0,NÃ£o,NÃ£o,De 41 anos a 50 anos,Noroeste
1334,18,0,31.920,0,0,0,2205.98080,1,NÃ£o,NÃ£o,atÃ© 30 anos,Nordeste
1335,18,0,36.850,0,0,2,1629.83350,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste
1336,21,0,25.800,0,0,3,2007.94500,0,NÃ£o,NÃ£o,atÃ© 30 anos,Sudoeste
1337,61,0,29.070,0,1,1,29141.36030,1,Sim,NÃ£o,Acima de 60 anos,Noroeste

In [46]:
clientes_idade = df_dados[['faixa etÃ¡ria','RegiÃµes']].groupby('faixa etÃ¡ria', as_index=False).count()
clientes_regiao = df_dados[['RegiÃµes','faixa etÃ¡ria']].groupby('RegiÃµes', as_index=False).count()

In [50]:
alt.Chart(clientes_idade, title="Clientes por faixa etÃ¡ria").mark_bar().encode(
    x= alt.X('faixa etÃ¡ria', title='Faixa etÃ¡ria'),
    y= alt.Y('RegiÃµes', title='Quantidade de clientes'),
    color = alt.Color('faixa etÃ¡ria', legend=None)
).interactive()

alt.Chart(...)

In [52]:
df_dados["Nordeste"] = df_dados["region"].apply(lambda x: "Sim" if x == 0 else "NÃ£o")
df_dados["Noroeste"] = df_dados["region"].apply(lambda x: "Sim" if x == 1 else "NÃ£o")
df_dados["Sudeste"] = df_dados["region"].apply(lambda x: "Sim" if x == 2 else "NÃ£o")
df_dados["Sudoeste"] = df_dados["region"].apply(lambda x: "Sim" if x == 3 else "NÃ£o")

In [60]:
df_dados_sudeste = df_dados.loc[df_dados['RegiÃµes'] == "Sudeste"]
df_dados_sudeste

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante,imc ideal,faixa etÃ¡ria,RegiÃµes,Nordeste,Noroeste,Sudeste,Sudoeste
1,18,1,33.77,1,0,2,1725.5523,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
2,28,1,33.00,3,0,2,4449.4620,0,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
5,31,0,25.74,0,0,2,3756.6216,0,NÃ£o,NÃ£o,De 31 anos a 40 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
6,46,0,33.44,1,0,2,8240.5896,1,NÃ£o,NÃ£o,De 41 anos a 50 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
11,62,0,26.29,0,1,2,27808.7251,1,Sim,NÃ£o,Acima de 60 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,62,1,38.83,0,0,2,12981.3457,1,NÃ£o,NÃ£o,Acima de 60 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
1323,42,0,40.37,2,1,2,43896.3763,1,Sim,NÃ£o,De 41 anos a 50 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
1327,51,1,30.03,1,0,2,9377.9047,1,NÃ£o,NÃ£o,De 51 anos a 60 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
1330,57,0,25.74,2,0,2,12629.1656,1,NÃ£o,NÃ£o,De 51 anos a 60 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
1335,18,0,36.85,0,0,2,1629.8335,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o

In [54]:
df_dados

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,Fumante,imc ideal,faixa etÃ¡ria,RegiÃµes,Nordeste,Noroeste,Sudeste,Sudoeste
0,19,0,27.900,0,1,3,16884.92400,1,Sim,NÃ£o,atÃ© 30 anos,Sudoeste,NÃ£o,NÃ£o,NÃ£o,Sim
1,18,1,33.770,1,0,2,1725.55230,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
2,28,1,33.000,3,0,2,4449.46200,0,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
3,33,1,22.705,0,0,1,21984.47061,0,NÃ£o,Sim,De 31 anos a 40 anos,Noroeste,NÃ£o,Sim,NÃ£o,NÃ£o
4,32,1,28.880,0,0,1,3866.85520,1,NÃ£o,NÃ£o,De 31 anos a 40 anos,Noroeste,NÃ£o,Sim,NÃ£o,NÃ£o
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,1,10600.54830,0,NÃ£o,NÃ£o,De 41 anos a 50 anos,Noroeste,NÃ£o,Sim,NÃ£o,NÃ£o
1334,18,0,31.920,0,0,0,2205.98080,1,NÃ£o,NÃ£o,atÃ© 30 anos,Nordeste,Sim,NÃ£o,NÃ£o,NÃ£o
1335,18,0,36.850,0,0,2,1629.83350,1,NÃ£o,NÃ£o,atÃ© 30 anos,Sudeste,NÃ£o,NÃ£o,Sim,NÃ£o
1336,21,0,25.800,0,0,3,2007.94500,0,NÃ£o,NÃ£o,atÃ© 30 anos,Sudoeste,NÃ£o,NÃ£o,NÃ£o,Sim
1337,61,0,29.070,0,1,1,29141.36030,1,Sim,NÃ£o,Acima de 60 anos,Noroeste,NÃ£o,Sim,NÃ£o,NÃ£o

In [61]:
clientes_sudeste = df_dados_sudeste.groupby('faixa etÃ¡ria', as_index=False).count()[['faixa etÃ¡ria','Sudeste']]
clientes_sudeste

           faixa etÃ¡ria  Sudeste
0      Acima de 60 anos       25
1  De 31 anos a 40 anos       69
2  De 41 anos a 50 anos       78
3  De 51 anos a 60 anos       69
4           atÃ© 30 anos      123

In [68]:
alt.Chart(clientes_sudeste, title="Clientes por faixa etÃ¡ria no Sudeste").mark_bar().encode(
    x= alt.X('faixa etÃ¡ria', title='Faixa etÃ¡ria'),
    y= alt.Y('Sudeste', title='Quantidade de clientes'),
    color = alt.Color('faixa etÃ¡ria', legend=None)
).interactive()

alt.Chart(...)

In [70]:
df_dados_sudoeste = df_dados.loc[df_dados['RegiÃµes'] == "Sudoeste"]
df_dados_nordeste = df_dados.loc[df_dados['RegiÃµes'] == "Nordeste"]
df_dados_noroeste = df_dados.loc[df_dados['RegiÃµes'] == "Noroeste"]

In [71]:
clientes_sudoeste = df_dados_sudoeste.groupby('faixa etÃ¡ria', as_index=False).count()[['faixa etÃ¡ria','Sudoeste']]
clientes_nordeste = df_dados_nordeste.groupby('faixa etÃ¡ria', as_index=False).count()[['faixa etÃ¡ria','Nordeste']]
clientes_noroeste = df_dados_noroeste.groupby('faixa etÃ¡ria', as_index=False).count()[['faixa etÃ¡ria','Noroeste']]

In [73]:
alt.Chart(clientes_sudoeste, title="Clientes por faixa etÃ¡ria no Sudoeste").mark_bar().encode(
    x= alt.X('faixa etÃ¡ria', title='Faixa etÃ¡ria'),
    y= alt.Y('Sudoeste', title='Quantidade de clientes'),
    color = alt.Color('faixa etÃ¡ria', legend=None)
).interactive()

alt.Chart(...)

In [74]:
alt.Chart(clientes_nordeste, title="Clientes por faixa etÃ¡ria no Nordeste").mark_bar().encode(
    x= alt.X('faixa etÃ¡ria', title='Faixa etÃ¡ria'),
    y= alt.Y('Nordeste', title='Quantidade de clientes'),
    color = alt.Color('faixa etÃ¡ria', legend=None)
).interactive()

alt.Chart(...)

In [75]:
alt.Chart(clientes_noroeste, title="Clientes por faixa etÃ¡ria no Noroeste").mark_bar().encode(
    x= alt.X('faixa etÃ¡ria', title='Faixa etÃ¡ria'),
    y= alt.Y('Noroeste', title='Quantidade de clientes'),
    color = alt.Color('faixa etÃ¡ria', legend=None)
).interactive()

alt.Chart(...)

In [77]:
clientes_noroeste

           faixa etÃ¡ria  Noroeste
0      Acima de 60 anos        23
1  De 31 anos a 40 anos        64
2  De 41 anos a 50 anos        66
3  De 51 anos a 60 anos        64
4           atÃ© 30 anos       108

In [78]:
clientes_nordeste

           faixa etÃ¡ria  Nordeste
0      Acima de 60 anos        21
1  De 31 anos a 40 anos        62
2  De 41 anos a 50 anos        68
3  De 51 anos a 60 anos        66
4           atÃ© 30 anos       107

In [79]:
clientes_sudoeste

           faixa etÃ¡ria  Sudoeste
0      Acima de 60 anos        22
1  De 31 anos a 40 anos        62
2  De 41 anos a 50 anos        69
3  De 51 anos a 60 anos        66
4           atÃ© 30 anos       106

In [80]:
clientes_sudeste

           faixa etÃ¡ria  Sudeste
0      Acima de 60 anos       25
1  De 31 anos a 40 anos       69
2  De 41 anos a 50 anos       78
3  De 51 anos a 60 anos       69
4           atÃ© 30 anos      123